{% extends 'base.html' %} {% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %} {% block content %}

<div class="login center d-flex flex-column justify-content-center align-items-center" style="padding:20px;">
  <h1>Formulir Registrasi</h1>
  <br>
  <form
    method="POST"
    action=""
    class="d-flex flex-column justify-content-center"
  >
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputUsername" class="form-label"
        >{{ form.username.label }}</label
      >
      <div class="form-help">{{form.username.help_text}}</div>
      <input class="form-control" type="username" name="username" placeholder="Username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >{{ form.password1.label }}</label
      >
      <div class="form-help">{{form.password1.help_text}}</div>
      <input class="form-control" type="password" name="password1" placeholder="Password">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword2" class="form-label"
        >{{ form.password2.label }}</label
      >
      <div class="form-help">{{form.password2.help_text}}</div>
      <input class="form-control" type="password" name="password2" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn login_btn btn-dark" value="login">
      Daftar
    </button>
  </form>

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} 
  <div class="n-text">Sudah mempunyai akun ?<a href="{% url 'todolist:login' %}" class="link"> Masuk</a></div>
  
</div>

{% endblock content %}
